/* navbar and container things */
.main-container, .container-fluid {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.tweakbrand {
  /* vertcal alling */
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin-left: 5px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* footer icons */
footer i {
    padding-left: 5px;
    padding-right: 5px;
}

/* content things */
#content {
  padding-top: 80px;
}

#rcontent h1,
#rcontent h2,
#rcontent h3,
#rcontent h4,
#rcontent h5,
#rcontent h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

#rcontent h2 {
  margin-top: 0px;
  margin-bottom: 15px;
}

#rcontent h3
{
  /*border-top: 1px solid #eee;*/
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 7px;
  font-size: 22px;
}

#rcontent p,
#rcontent li {
  /* http://www.getmdl.io/templates/blog/entry.html */
  margin: 16px auto;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 1em;
}

.toc li {
  margin: 5px auto;
  line-height: 5px; !important
  margin-bottom: 0em;
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
} 

.toc li:before {
  font-family: 'FontAwesome';
  content: '\f292';
}

@media screen and (max-width: 768px) {
  #sidebar {
    display: none !important;
  }
}

@media screen and (max-height: 600px) {
  .desc {
    display: none !important;
  }
}

.hljs {
  font-size: 13px;
  color: #333;
  background: #f5f5f5;
}

.highchart {
  padding-top: 10px;
  padding-bottom: 10px;
}
