# History files
.Rhistory
.Rapp.history

# html and rpubs
dev/*.html
dev/issues/*.html
dev/issues/rsconnect/*

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

# Some htmls and rpubs
inst/doc

# seasonal
fort.6
