
    <script src="lib/htmlwidgets.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/highstock.js"></script>
    <script src="lib/highcharts-more.js"></script>
    <script src="lib/highcharts-3d.js"></script>
    <script src="lib/exporting.js"></script>
    <script src="lib/drilldown.js"></script>
    <script src="lib/heatmap.js"></script>
    <script src="lib/map.js"></script>
    <script src="lib/treemap.js"></script>
    <script src="lib/reset.js"></script>
    <script src="lib/draggable-points.js"></script>
    <script src="lib/pattern-fill-v2.js"></script>
    <script src="lib/text-symbols.js"></script>
    <script src="lib/highchart.js"></script>
