<li><a href="index.html"><i class="fa fa-hand-spock-o"></i> Welcome</a></li>
<li><a href="showcase.html"><i class="fa fa-newspaper-o"></i> Showcase</a></li>
<li><a href="highcharts-api.html"><i class="fa fa-cogs"></i> API</a></li>
<li><a href="shortcuts.html"><i class="fa fa-rocket"></i> Shortcuts</a></li>
<li><a href="hchart.html"><i class="fa fa-magic"></i> <code>hchart</code> function</a></li>
<li><a href="themes.html"><i class="fa fa-paint-brush"></i> Themes</a></li>
<li><a href="shiny.html"><i class="fa fa-certificate"></i> Shiny</a></li>
<li><a href="highcharts.html"><i class="fa fa-area-chart"></i> Highcharts Examples</a></li>
<li><a href="highstock.html"><i class="fa fa-line-chart"></i> Highstock Examples</a></li>
<li><a href="highmaps.html"><i class="fa fa-map"></i> Highmaps Examples</a></li>
<li><a href="plugins.html"><i class="fa fa-plug"></i> Plugins</a></li>
