<a href="index.html" class="list-group-item"><h5 class="list-group-item-heading">Welcome</h5><p class="list-group-item-text">Let's start</p></a>
<a href="highcharts-api.html" class="list-group-item"><h5 class="list-group-item-heading">API</h5><p class="list-group-item-text">What can we do with highcharter</p></a>
<a href="shortcuts.html" class="list-group-item"><h5 class="list-group-item-heading">Shortcuts</h5><p class="list-group-item-text">For add data series from R objects</p></a>
<a href="hchart-function.html" class="list-group-item"><h5 class="list-group-item-heading"><code>hchart</code> function</h5><p class="list-group-item-text">The Magic Function</p></a>
<a href="themes.html" class="list-group-item"><h5 class="list-group-item-heading">Themes</h5><p class="list-group-item-text">Changing the look</p></a>
<a href="shiny-integration.html" class="list-group-item"><h5 class="list-group-item-heading">Shiny</h5><p class="list-group-item-text">Output & Render functions</p></a>
<a href="highcharts.html" class="list-group-item"><h5 class="list-group-item-heading">Highchart Examples</h5><p class="list-group-item-text">Some fun and miscellaneous charts</p></a>
<a href="highstock.html" class="list-group-item"><h5 class="list-group-item-heading">Highstocks Examples</h5><p class="list-group-item-text">Using the quantmod package</p></a>
<a href="highmaps.html" class="list-group-item"><h5 class="list-group-item-heading">Highmaps Examples</h5><p class="list-group-item-text">Give me the geojson data</p></a>
<a href="plugins.html" class="list-group-item"><h5 class="list-group-item-heading">Plugins</h5><p class="list-group-item-text">Some extensions</p></a>
