
body {
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
-moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
-webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
-ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
font-variant-ligatures: common-ligatures discretionary-ligatures contextual;

text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

@font-face {
font-family: 'DatalegreyaThin';
src: url('Datalegreya-Thin.otf') format('opentype');
}
@font-face {
font-family: 'DatalegreyaGradient';
src: url('Datalegreya-Gradient.otf') format('opentype');
}
@font-face {
font-family: 'DatalegreyaDot';
src: url('Datalegreya-Dot.otf') format('opentype');
}

.datalegreya {
font-family: 'DatalegreyaThin';
    font-weight: normal;
    font-style: normal;
}

.datalegreya--gradient {
font-family: 'DatalegreyaGradient';
    font-weight: normal;
    font-style: normal;
}

.datalegreya--dot {
font-family: 'DatalegreyaDot';
    font-weight: normal;
    font-style: normal;
}

.dtlgry {
 font-size: 5em;
 -webkit-margin-before: 0.1em;
-webkit-margin-after: 0.1em;
}


