@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans|Alegreya+Sans+SC:100,300,400");

@font-face {
  font-family: 'Datalegreya-Gradient';
  src: url('http://cdn.rawgit.com/figs-lab/datalegreya/master/font-files/Datalegreya-Gradient.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Alegreya Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#brand {
  font-family: 'Datalegreya-Gradient', sans-serif;
  font-size: 6em;
  text-align:center;
  vertical-align:middle;
  display: table;
  width: 100%;
  margin-top: 30px; /* same as #sidebar */
}

.navbar-default {
  background-color: #47475C;
  border-color: #A3EDBA;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #A3EDBA;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #ffffff;
  background-color: #A3EDBA;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #A3EDBA;
}

.nav li>a:focus, .nav li>a:hover {
  color: #ffffff;
  background-color: #A3EDBA;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #ffffff;
  background-color: #A3EDBA;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #A3EDBA;
}


h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
}

.highchart {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contents p,
.contents li {
  font-family: "Alegreya Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 16px auto;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 1em;
}

/* articles titles */
dt {
  font-weight: normal;
  font-size: 1.25em;
}

/* printable sheet */
@media print {
  header {display:none;}
  footer {display:none;}
}
