<script>
// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
  controls: true,
  progress: true,
  history: true,
  center: {{page.revealjs.center}},
  theme: Reveal.getQueryHash().theme || '{{page.revealjs.theme}}', 
  transition: Reveal.getQueryHash().transition || '{{page.revealjs.transition}}', 
  dependencies: [
  // Cross-browser shim that fully implements classList -
  // https://github.com/eligrey/classList.js/
    { src: '{{page.url.framework}}/lib/js/classList.js', condition: function() { return !document.body.classList;}},
    // Zoom in and out with Alt+click
    { src: '{{page.url.framework}}/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
    // Speaker notes
    { src: '{{page.url.framework}}/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
    // Remote control your reveal.js presentation using a touch device
    //{ src: '{{page.url.framework}}/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
    ]
});
</script>
