<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Highcharter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%7CRoboto+Condensed:300">
    <link rel="stylesheet" href="css/custom.css" media="screen">
    {% include dependencies.html %}
  </head>
  <body>
    
    <div class="container-fluid main-container">
    
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a href="../" class="navbar-brand">Highcharter</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://github.com/jbkunst/highcharter" target="_blank">Github</a></li>
            </ul>
  
          </div>
        </div>
      </div>
  
      <div class="container-fluid" id="content">
  
        <div class="row">
          <div class="col-sm-3">
            <div class="list-group"  data-spy="affix" data-offset-top="80">
              {% include navigation.html %}
            </div>
          </div>
          <div class="col-sm-9" id="rcontent">
              {{ content }} 
          </div>
        </div>
  
        <footer>
          <div class="row">
            <div class="col-lg-12">
  
              <ul class="list-unstyled">
                <li class="pull-right"><a href="#top">Back to top</a></li>
                <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
                <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
                <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                <li><a href="../help/#api">API</a></li>
                <li><a href="../help/#support">Support</a></li>
              </ul>
  
  
            </div>
          </div>
  
        </footer>
  
      </div>
  
    </div>
    
    
    <script src="js/custom.js"></script>
    <script src="js/ga.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/languages/r.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    
</body>
</html>
